*{
  padding: 0%; padding: 0%; box-sizing: border-box;
}
.heading{
  color: blue;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
.img_div{
display: flex;
justify-content: center;
}

.img_div img{
width: 200px;
height: 300px;
}